.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1541044824061-afc156516935?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0d839311f9f5ddba6ab91e9faed17d7&auto=format&fit=crop&w=500&q=60');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
    