<div class="container">
    <header class="blog-header py-3">
        <div class="row justify-content-center">
          <div>
            <a class="blog-header-logo text-dark blog-header-logo" routerLink="/">UDAIPURITES</a>
          </div>
        </div>
    </header>    
    <div class="d-flex bd-highlight">
      <a class="p-2 flex-fill bd-highlight text-center sub-box"  routerLink="/">Travel</a>
      <a class="p-2 flex-fill bd-highlight text-center sub-box"  routerLink="/">Food</a>
      <a class="p-2 flex-fill bd-highlight text-center sub-box"  routerLink="/">Event</a>
      <a class="p-2 flex-fill bd-highlight text-center sub-box1"  routerLink="/">Technology</a>
    </div>
</div>