<div class="fixed-top" >
  <div class="d-flex justify-content-center" style="margin-top:68px;background-color:white">
  <a class="p-2 flex-fill badge badge-primary badgecolor text-center sub-box shadow-sm " routerLink="/">Travel</a>
  <a class="p-2 flex-fill badge badge-primary  badgecolor text-center sub-box shadow-sm"  routerLink="/">Food</a>
  <a class="p-2 flex-fill badge badge-primary  badgecolor text-center sub-box shadow-sm"  routerLink="/">Event</a>
  <a class="p-2 flex-fill badge badge-primary  badgecolor text-center sub-box shadow-sm"  routerLink="/">Technology</a> 
   </div>
</div>

