<div class="container">


  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h2 class="my-4">Trending in Udaipur
        </h2>
        <app-postcard *ngFor="let item of postservice.posts" [post]="item"></app-postcard>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->

        <!-- Categories Widget -->
    
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>




